$primary: #2091f9;
$text: #252b42;
$second-text: #374754;
$light-text: #fff;
$dark-bg: #252b42;
$light-bg: #fff;

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin h-reset {
  margin: 0;
}

@mixin r($width) {
  @media only screen and (max-width: $width - 1 + "px") {
    @content;
  }
}

@mixin rmin($width) {
  @media only screen and (min-width: $width + "px") {
    @content;
  }
}