@import 'fonts';
@import 'vars';
@import 'global';

// Start Header 

.header {
  position: relative;
  padding: 0 0 237px;
  margin-bottom: 32px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(9, 151, 255, 0.56) 100%), url("../images/bg-sm-op.png") center/cover no-repeat;
  clip-path: polygon(0% 0%, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  z-index: 1;

  @include r(767) {
    clip-path: polygon(0% 0%, 100% 0, 100% calc(100% - 15vw), 50% 100%, 0 calc(100% - 15vw));
  }


  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 16px;
    margin-bottom: 30px;
  }

  &__logo {
    line-height: 0;
  }

  &__content {
    margin: 30px 0;
  }

  &__title {
    margin: 50px 24px 27px;
  }

  &__subtitle {
    margin: 0 45px 60px;
  }

  &__link {
    margin-bottom: 60px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;

  &__icon {
    display: none;

    @include r(767) {
      position: relative;
      display: block;
      width: 27px;
      height: 18px;
      z-index: 6;
      cursor: pointer;

      &::before,
      &::after,
      span {
        position: absolute;
        right: 0;
        height: 10%;
        transition: all .3s ease 0s;
        background-color: $light-text;
      }

      &::before,
      &::after {
        content: '';
      }

      &::before {
        top: 0;
        width: 100%;
      }

      span {
        top: 50%;
        width: 70%;
        transform: scale(1) translate(0, -50%);
      }

      &::after {
        bottom: 0;
        width: 55%;
      }
    }

    &._active {
      span {
        transform: scale(0) translate(0, -50%);
      }

      &::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
      }

      &::after {
        bottom: 50%;
        width: 100%;
        transform: rotate(45deg) translate(0, 50%);
      }
    }
  }

  @include r(767) {
    &__nav {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      padding: 120px 30px 30px 30px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.9);
      transition: left .3s ease 0s;
      z-index: 5;
    }

    &__nav._active {
      left: 0;
    }

    &__list {
      @include reset-list;
    }

    &__item {
      color: $light-text;

      &+& {
        margin-top: 30px;
      }
    }

    &__link {
      position: relative;
      font-size: 24px;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $light-text;
        transition: width .5s ease .2s, color 0.3s ease-in-out 0s;
      }

      &:focus {
        color: $primary;

        &::before {
          width: 100%;
        }
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }

      &:active {
        color: $primary;

        &::before {
          width: 100%;
        }
      }
    }
  }
}

// End Header 

// Start features section 

.features {
  padding: 80px 0;

  &__title {
    margin: 0 90px 28px;
  }

  &__subtitle {
    margin: 0 50px 64px;
  }

  &__media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
    max-width: 386px;
    width: 100%;
    min-height: 215px;
    filter: drop-shadow(0px 2.6705px 20.6964px rgba(0, 0, 0, 0.15));
    border-radius: 15px;
    overflow: hidden;

    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__play {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background-color: $light-bg;
    border: none;

    &::before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      margin-left: 20px;
      border-color: transparent;
      border-style: solid;
      border-width: 10px 16px;
      border-left-color: $primary;
    }
  }

  &__list {
    @include reset-list;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 65px;
    }
  }

  &__content {
    margin: 0 64px;
    padding: 18px 10px 10px;
    text-align: center;
  }

  &__img {
    margin-bottom: 20px;
  }

  &__heading {
    @include h-reset;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
  }

  &__text {
    @include h-reset;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
  }
}

// End features section  

// Start way section

.way {
  padding: 90px 0 30px;

  s &__title {
    margin: 0 25px 28px;
  }

  &__subtitle {
    margin: 0 52px 60px;
  }

  &__link {
    display: inline-block;
    min-width: 236px;
    margin-bottom: 60px;
  }

  &__img {
    width: 100%;
    min-height: 212px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 50px;
  }
}

// End way section

// Start newletter section

.newletter {
  padding-top: 80px;
  padding-bottom: 112px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__headline {
    @include h-reset;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0.1px;
  }

  &__title {
    margin-bottom: 28px;
  }

  &__subtitle {
    margin: 0 52px 84px;
  }

  &__img {
    margin-bottom: 68px;
  }

  .form {
    &__title {
      @include h-reset;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.1px;
      font-weight: 700;
    }

    &__text {
      @include h-reset;
      margin-bottom: 36px;
      font-size: 18px;
      line-height: 25px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__email {
      padding: 19px 35px;
      min-width: 350px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1px;
      color: #18171d;
      background-color: #f4f4f4;
      border: 1px solid #e8e8e8;
      border-radius: 39px;
      outline: transparent;

      &::placeholder {
        color: #18171d;
      }
    }

    &__btn {
      font-weight: 400;
    }
  }
}

// End newletter section

// Start partners section

.partners {
  padding: 50px 0;

  &__title {
    padding: 0 85px 16px;
  }

  &__subtitle {
    padding: 0 56px 90px;
  }

  &__list {
    @include reset-list;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 52px 30px;
    max-width: 275px;
    width: 100%;
    min-height: 150px;
    background-color: #fff;
    border: 1px solid #d8d8d8;

    &:last-child {
      margin-bottom: 100px;
    }
  }

  &__link {
    margin-bottom: 50px;
  }
}

// End partners section